$white: #FFF;
$blue: #4285f4;
$gray: #ddd;
$lightGray: #f0f0f0;
$blackShadow: rgba(0, 0, 0, 0.3);
$bold: 600;
$standardContentsWidth: 1020px;

$iconURL: "https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png";
$categoryIconPos: 110px 115px;
$closedIconPos: 6px -165px;
$opendIconPos: 6px -142px;
$glassIconPos: -112px -71px;
$personIconPos: -112px -42px;
$cartIconPos: -112px 0px;

$micIconURL: "https://img1a.coupangcdn.com/image/coupang/common/ic_mic.png";
$newIconURL: "https://static.coupangcdn.com/image/coupang/common/ico_new.png";
$blueRocketIconURL: "https://user-images.githubusercontent.com/95538993/158399320-2ef2a304-c1f9-4e92-8951-b9d72cc817d8.JPG";
$greenRocketIconURL: "https://static.coupangcdn.com/image/coupang/common/pc_header_rocket_fresh_1x.png";
$bizIconURL: "https://static.coupangcdn.com/image/coupang/common/logoBizonlyBrown.png";
$purpleRocketIconURL: "https://static.coupangcdn.com/image/coupang/home/icons/Overseas.png";
