$main-black: #2c2c2c;
$main-blue: #4284f3;
$main-grey: #333;
$main-grey-light: #f0f0f0;
$main-white: #fff;

$main-width: 1020px;
$category-width: 110px;

$top-bar-height: 32px;
$header-height: 115px;

$logo-width: 180px;
$logo-height: 40px;

$search-height: 40px;
