.slide__container {
  margin: 0 auto;
  overflow: hidden;
  position: absolute;

  .slide__list {
    display: flex;

    .slide__item {
      width: 100vw;
    }
  }
}

.banner__category {
  position: relative;
  cursor: pointer;
  left: 72vw;
  top: 3vw;
  width: 182px;
  box-shadow: 0 4px 5px rgb(0, 0, 0.5);
}
