header {
  padding: 0 250px;
}

.header__column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

@mixin flexbox($main-axis: start, $cross-axis: center) {
  display: flex;
  justify-content: $main-axis;
  align-items: $cross-axis;
}

.header__row {
  @include flexbox;
}

.header__container {
  @include flexbox($main-axis: space-between);
}

.header__member {
  @include flexbox($main-axis: space-center);
}

.category {
  width: 110px;
  height: 110px;
  overflow: hidden;
}

.icons {
  background-image: url(../img/icons.png);
}

@mixin sprite__img__position($width, $height, $background-position) {
  width: $width;
  height: $height;
  background-position: $background-position;
}

.icons.category__icon {
  @include sprite__img__position(110px, 115px, 0 0);
}

.icons.member__icon {
  @include sprite__img__position(29px, 31px, -112px -42px);
}

.icons.cart__icon {
  @include sprite__img__position(40px, 41px, -112px 0);
}

.search__category {
  width: 136px;
  height: 42px;
  border: 0.5px solid black;
}

.search {
  width: 384px;
  height: 40px;
}
