.background
    &--gray
        background-color: $main-gray
    &--blue
        background-color: $main-blue

.color
    &--white
        color: $main-white
    &--black
        color: $main-black

.padding--small
    padding: 8px

.font--small
    font-size: 1.1rem

.mr
    margin-right: $margin-l
    &--auto
        margin-right: auto

.mb
    &--small
        margin-bottom: $margin-s
    &--large
        margin-bottom: $margin-l

.ml--auto
    margin-left: auto

.center
    width: $main-width
    margin: auto

.icon
    width: 30px
    height: 30px

.grid 
    display: grid

.l
    &--flex
        display: flex
    &--vertical
        flex-direction: column
    &--vertical-center
        align-items: center
    &--center
        justify-content: center
        align-items: center
    &--space-between
        justify-content: space-between

h2
    font-size: 2.2rem
    font-weight: 600

.gap--small
    gap: 10px

.position--relative
    position: relative