$main-width: 1000px

$main-blue: #228be6
$main-black: #212529
$main-dark-gray: #ced4da
$main-gray: #e9ecef
$main-white: #fff

$main-font-size: 1.2rem

$text-gray: #495057

$margin-s: 3px
$margin-m: 5px
$margin-l: 10px
