.search {
  display: flex;
  border: 2px solid $main-blue;
  box-sizing: border-box;
}

.search__selector {
  width: 20%;
  position: relative;
  > div:first-child {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $main-grey;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0 8px;
    border-right: 1px solid $main-grey;
  }
}

.search__container {
  width: 80%;
  position: relative;
}

.search__form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0 12px;
  box-sizing: border-box;
  input {
    width: 80%;
    font-size: 1rem;
  }
  button {
    font-size: 1.2rem;
    color: $main-blue;
    &:first-child {
      color: $main-grey;
      margin-right: 8px;
    }
  }
  button:hover {
    cursor: pointer;
  }
}

.search__options,
.search__record {
  position: absolute;
  top: $search-height;
  width: 100%;
  box-shadow: -1px 4px 5px rgba($main-black, 0.3);
  background-color: $main-white;
  ul {
    padding: 6px 6px 0 6px;
    li {
      &:not(:last-child) {
        padding-bottom: 6px;
      }
    }
  }
}

.search__record {
  > h5 {
    box-sizing: border-box;
    padding: 12px 6px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid $main-grey;
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $main-grey-light;
    color: $main-grey;
    margin-top: 12px;
    padding: 8px 6px;
  }
}
