* {
  box-sizing: border-box;
  color: $text-color-default;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
