* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.header__nav {
  width: 100%;
  height: 30px;
  background: #ddd;
  color: #000;
  font-size: 12px;
  line-height: 30px;
}
.header__nav .header__nav-content {
  width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__nav .header__nav-content div span {
  padding-right: 5px;
}

.header__search {
  width: 1020px;
  height: 115px;
  margin: 0 auto;
  display: flex;
}
.header__search .header__searchcategory {
  background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
  background-position-x: 0px;
  background-position-y: 0px;
  width: 110px;
  height: 115px;
  margin: 0px 30px 0px 0px;
  padding: 0 0 0 0;
  text-align: center;
}
.header__search .header__searchcategory span {
  color: #fff;
  margin-top: 30px;
}
.header__search .header__searchbar {
  width: 750px;
  height: 115px;
  display: flex;
  flex-wrap: wrap;
}
.header__search .header__searchbar img {
  margin-top: 30px;
}

.header__searchnav {
  width: 1020px;
  height: 115px;
}

.header__category {
  display: flex;
}
.header__category .header__choosecategory {
  width: 130px;
  height: 40px;
  border: 1px solid #0000ee;
  border-right: 1px solid #ddd;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.header__category .header__choosecategory .header__categorytitle {
  font-size: 12px;
  line-height: 40px;
  margin-left: 10px;
  color: #666;
}
.header__category .header__choosecategory .check {
  background-image: url(https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
  background-position-x: 6px;
  background-position-y: -160px;
  padding-bottom: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.header__searchkeyword {
  width: 400px;
  height: 40px;
  border: 1px solid blue;
  border-left: none;
  margin-top: 30px;
  position: relative;
}
.header__searchkeyword input {
  width: 380px;
  height: 35px;
  border: none;
  padding-left: 10px;
  line-height: 30px;
}
.header__searchkeyword span {
  background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
  background-position-x: -112px;
  background-position-y: -71px;
  cursor: pointer;
  width: 50px;
  height: 39px;
  position: absolute;
  right: 0px;
  bottom: -2px;
}

.header__submenu ul {
  width: 730px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 10px;
}

.header__info {
  width: 150px;
  display: flex;
  padding-top: 30px;
  font-size: 12px;
  position: relative;
}
.header__info .header__mycoupang {
  margin-right: 10px;
  margin-left: 20px;
}
.header__info .header__mycoupang .header__mycoupang-icon {
  background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
  background-position-x: -112px;
  background-position-y: -42px;
  cursor: pointer;
  width: 29px;
  height: 31px;
  margin-left: 5px;
  margin-top: 0px;
  text-align: center;
}
.header__info .header__shopping {
  position: absolute;
  right: 10px;
  top: 20px;
}
.header__info .header__shopping .header__shopping-icon {
  background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
  background-position-x: -112px;
  background-position-y: 0px;
  cursor: pointer;
  width: 40px;
  height: 41px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

.main__banner {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  background-image: url("https://image8.coupangcdn.com/image/ccm/banner/9fb9b02bd7aa5868792da3b3a8808d7a.png");
}
.main__banner div {
  width: 1020px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
