.banner {
  width: 100%;
  height: 450px;

  &__img-list {
    position: relative;
    width: 100%;
    height: 450px;
  }

  &__img-item {
    width: 100%;
    height: 100%;
    background: url('https://static.coupangcdn.com/pa/cmg_paperboy/image/1647244593217/220210_%EC%BF%A0%ED%8C%A1%EB%B9%84%EC%A6%88_SMD-15590_PC%284%29.jpg')
      no-repeat;
  }

  &__thumbnail-list {
    position: absolute;
    right: 430px;
    top: 185px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  }

  &__thumbnail-item {
    width: 180px;
    height: 60px;
    border-bottom: 1px solid $border;
  }

  &__thumbnail-item:hover {
    outline: 2px solid $blue;
    outline-offset: -2px;
  }
}

.today-selected {
  outline: 2px solid $blue;
  outline-offset: -2px;
}
