.search-layer {
  display: none;
  width: 370px;
  height: 328px;
  background-color: $white;
  border: 1px solid $border;
  font-size: $font-size-12;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  z-index: 3;
  left: 126px;

  ul {
    padding: 20px 12px 6px 12px;
  }

  li {
    padding-bottom: 16px;
    cursor: pointer;
  }

  li:hover {
    text-decoration: underline;
  }
}

.show {
  display: block;
}

.search__auto {
  width: 370px;
  height: 328px;
  z-index: 4;
  position: relative;
}

.search__history {
  position: relative;

  &--title {
    padding: 12px;
    border-bottom: 1px solid $border;
  }

  .search__history-btns {
    @include flexbox(between);
    width: 100%;
    height: 30px;
    background-color: $background;
    padding: 0 12px 0 12px;
    color: $secondary;
    position: absolute;
    bottom: 0;
  }

  .search__history-btns > span {
    cursor: pointer;
  }

  .search__history-btns > span:hover {
    text-decoration: underline;
  }
}

.history-off-msg {
  text-align: center;
  color: $secondary;
}
