@import "mixin";

i {
  font-size: nth($fontSizes, 5);
}

.header {
  @include flex(space-around, center);
  width: 100%;
  height: 100px;

  .header__category {
    @include flex(center, center);
    flex-direction: column;
    height: 100px;
    width: 100px;
    background-color: $baseBlue;
    color: $fontWhite;

    div {
      margin: 3px 0px;
    }

    span {
      font-size: nth($fontSizes, 2);
    }
  }

  .header__main {
    @include flex();
    flex-direction: column;
    width: 600px;

    .main__searchBar {
      @include flex(space-between, center);
      height: 70px;
      .logo {
        margin-top: 25px;
        img {
          width: 174px;
          height: 41px;
        }
      }
    }
    .main__nav {
      @include flex(space-between, center);
      height: 30px;
    }
  }
  .header__icons {
    @include flex(normal, center);
    div {
      text-align: center;
      margin: 10px;
      margin-top: 15px;
    }
  }
}

.search {
  @include flex();
  border: 1.5px $baseBlue solid;
  width: 400px;
  height: 30px;
  margin-top: 19px;
  position: relative;

  .search__category {
    @include flex(space-around, center);
    width: 100px;
    color: $baseGray;
    border-right: 1px $baseLightGray solid;
  }
  .search__input {
    @include flex(space-around, center);
    width: 300px;
    input {
      width: 220px;
    }
    .input__icon {
      margin: 0px 3px;
    }
    i {
      font-size: nth($fontSizes, 3);
      color: $baseBlue;
    }
    .fa-microphone {
      color: $baseGray;
    }
  }
}

.search__layout {
  @include position-abs(99px, 30px);
  width: 300px;
  height: 250px;
  background-color: $baseBgColor;
  border: 1px $baseLightGray solid;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  font-size: nth($fontSizes, 1);
}

.layout__body {
  @include flex();
  color: $baseGray;
  flex-direction: column;
  padding: 10px;
  height: 190px;
  span {
    margin: 7px 0px;
  }
}

.search__recent {
  @extend .search__layout;
  @include flex();
  flex-direction: column;
  display: none;

  div {
    border: 0.2px $baseLightGray solid;
  }
  .recent__title {
    @include flex(normal, center);
    font-weight: nth($fontWeights, 2);
    height: 30px;
    padding-left: 10px;
  }
  .recent__body {
    @extend .layout__body;
  }
  .recent__footer {
    @include flex(space-between, center);
    height: 30px;
    color: $baseGray;
    background-color: $baseLightGray;
    span {
      margin: 0px 15px;
    }
  }
}
.search__suggestion {
  @extend .search__layout;
  display: none;
  .suggestion__body {
    @extend .layout__body;
    .matchedWord {
      color: $baseBlue;
    }
  }
}
