$pink: pink;
$gray: #d8d8d8;
$blue-main: #7096e9;
$white: #ffffff;

@mixin divideFlex($first: 0, $second: 0, $third: 0) {
  :nth-child(1) {
    flex: $first;
  }
  :nth-child(2) {
    flex: $second;
  }
  :nth-child(3) {
    flex: $third;
  }
}
