$lightgray: #f0f0f0;
$font-color: #333333;
$main-width: 900px;
$dark-sky-blue: #4285f4 !global;
$nav-catogory-height: 115px;
$nav-top-height: 30px;
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-sort {
  display: flex;
  justify-content: center;
  align-items: center;
}
.width-sort {
  display: flex;
  justify-content: center;
}
.height-sort {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  // width: $main-width;
  height: $nav-catogory-height + $nav-top-height;
}
.nav-top {
  background: $lightgray;
  display: flex;
  justify-content: space-between;
  height: $nav-top-height;

  .nav-top-left,
  .nav-top-right {
    display: flex;
    float: left;
  }
  .nav-top-left *,
  .nav-top-right * {
    font-size: 11px;
    color: $font-color;
    box-sizing: border-box;
    padding: 10px 0 0 12px;
  }
  .nav-top-right {
    margin-right: 20px;
  }
}
.nav-bottom {
  height: $nav-catogory-height;
  display: flex;

  .nav-category {
    width: 110px;
    height: $nav-catogory-height;
    background: $dark-sky-blue;
    flex-direction: column;

    .hamburger-btn {
      width: 60px;
      height: 60px;
      margin-top: 10px;
    }
    .hamburger-btn-white {
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .category-text {
      color: white;
      font-size: 13px;
    }
  }
  .info-wrap-top {
    height: 85px;
    display: flex;
    box-sizing: border-box;
    padding: 32px 20px 0 20px;
    .info-wrap-title {
      width: 174px;
      height: 41px;

      .title {
        width: 174px;
      }
    }
    .info-wrap-search-bar {
      width: 518px;
      height: 37px;
      border: 2px solid $dark-sky-blue;
      margin: 0 15px 0 15px;
      display: flex;
    }
    .info-wrap-search-bar > {
      height: 37px;
    }
    .search-bar-category {
      position: relative;
      width: 135px;
      height: 100%;
      box-sizing: border-box;
      padding: 5px;
      border-right: 1px solid #ddd;
    }
    .search-bar-dropbox {
      display: none;
      position: absolute;
      width: 100%;
      // height: 508px;
      top: 37px;
      left: 0;
      z-index: 5;
      background: #ffffff;
      border: 1px solid #ddd;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      overflow-y: auto;
      box-sizing: border-box;
      padding: 10px 0 10px 10px;
      transition: 1s;
    }
    .search-bar-dropbox-content,
    .search-bar-content {
      // position: absolute;
      width: 80%;
      height: 30px;
      font-size: 11px;
      color: $font-color;
      list-style: none;
    }
    .down {
      width: 30px;
      height: 30px;
      border: none;
      background: none;
    }
    .down-btn-img {
      width: 20px;
      height: 20px;
      background-size: cover;
    }
    .search-keyboard {
      border: none;
      font-size: 13px;
      width: 333px;
    }
    .search-btn {
      width: 50px;
    }
    .info-wrap-my-coupang {
      margin: 0 5px;
    }
    .my-coupang-icon,
    .shopping-cart-icon {
      width: 50px;
      height: 31px;
    }
    .my-coupang-icon-img,
    .shopping-cart-icon-img {
      width: 29px;
      height: 31px;
      background-size: cover;
    }
    .my-coupang-text,
    .shopping-cart-text {
      font-size: 12px;
      box-sizing: border-box;
      padding: 7px 0 0;
      color: $font-color;
    }
  }
  .info-wrap-bottom {
    position: relative;
    display: flex;
    height: 32px;
    padding-left: 20px;
    .rocket {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 5px;
      top: 2px;
    }
    .info-wrap-rocket-delivery,
    .info-wrap-rocket-fresh,
    .into-wrap-rocket-dp {
      padding-left: 25px;
    }
  }
  .info-wrap-bottom > * {
    position: relative;
    box-sizing: border-box;
    padding: 7px 14px 0;
    font-size: 11px;
    color: $font-color;
  }
}
