html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.width-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.height-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  height: 145px;
}

.nav-top {
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
}

.nav-top .nav-top-left,
.nav-top .nav-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.nav-top .nav-top-left *,
.nav-top .nav-top-right * {
  font-size: 11px;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0 0 12px;
}

.nav-top .nav-top-right {
  margin-right: 20px;
}

.nav-bottom {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bottom .nav-category {
  width: 110px;
  height: 115px;
  background: #4285f4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bottom .nav-category .hamburger-btn {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.nav-bottom .nav-category .hamburger-btn-white {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.nav-bottom .nav-category .category-text {
  color: white;
  font-size: 13px;
}

.nav-bottom .info-wrap-top {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 20px 0 20px;
}

.nav-bottom .info-wrap-top .info-wrap-title {
  width: 174px;
  height: 41px;
}

.nav-bottom .info-wrap-top .info-wrap-title .title {
  width: 174px;
}

.nav-bottom .info-wrap-top .info-wrap-search-bar {
  width: 518px;
  height: 37px;
  border: 2px solid #4285f4;
  margin: 0 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bottom .info-wrap-top .info-wrap-search-bar > {
  height: 37px;
}

.nav-bottom .info-wrap-top .search-bar-category {
  position: relative;
  width: 135px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border-right: 1px solid #ddd;
}

.nav-bottom .info-wrap-top .search-bar-dropbox {
  display: none;
  position: absolute;
  width: 100%;
  top: 37px;
  left: 0;
  z-index: 5;
  background: #ffffff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0 10px 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav-bottom .info-wrap-top .search-bar-dropbox-content,
.nav-bottom .info-wrap-top .search-bar-content {
  width: 80%;
  height: 30px;
  font-size: 11px;
  color: #333333;
  list-style: none;
}

.nav-bottom .info-wrap-top .down {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.nav-bottom .info-wrap-top .down-btn-img {
  width: 20px;
  height: 20px;
  background-size: cover;
}

.nav-bottom .info-wrap-top .search-keyboard {
  border: none;
  font-size: 13px;
  width: 333px;
}

.nav-bottom .info-wrap-top .search-btn {
  width: 50px;
}

.nav-bottom .info-wrap-top .info-wrap-my-coupang {
  margin: 0 5px;
}

.nav-bottom .info-wrap-top .my-coupang-icon,
.nav-bottom .info-wrap-top .shopping-cart-icon {
  width: 50px;
  height: 31px;
}

.nav-bottom .info-wrap-top .my-coupang-icon-img,
.nav-bottom .info-wrap-top .shopping-cart-icon-img {
  width: 29px;
  height: 31px;
  background-size: cover;
}

.nav-bottom .info-wrap-top .my-coupang-text,
.nav-bottom .info-wrap-top .shopping-cart-text {
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 0 0;
  color: #333333;
}

.nav-bottom .info-wrap-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  padding-left: 20px;
}

.nav-bottom .info-wrap-bottom .rocket {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 2px;
}

.nav-bottom .info-wrap-bottom .info-wrap-rocket-delivery,
.nav-bottom .info-wrap-bottom .info-wrap-rocket-fresh,
.nav-bottom .info-wrap-bottom .into-wrap-rocket-dp {
  padding-left: 25px;
}

.nav-bottom .info-wrap-bottom > * {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 14px 0;
  font-size: 11px;
  color: #333333;
}
