body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 1020px;
  position: relative;
  height: 115px;
  padding-top: 32px;
  background: #fff;
  align-items: center;
  margin: auto auto;
}

.sticky-wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerSearchForm {    /**/
  display: flex;
  align-items: center;
  justify-content: center;

}

.category-btn {
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  width: 110px;
  height: 115px;
  position: absolute;
  top: 32px;
  left: 0;
  margin-right: 30px;
  text-align: center;
  background-position: 0 0;
}

.category-btn>a {
  margin-top: 73px;
  display: block;
  color: #fff;
  font-size: 13px;
}

.sticky-wrapper-content>h1 {
  height: 41px;
  width: 174px;
  margin: 2px 20px 0 0;
}

.search-form {
  width: 518px;
  margin-left: 0;
  height: 37px;
  margin-right: 22px;
  border: 2px solid #4285f4;
}

/* 전체 써져있는 부분 */
.select-category {
  width: 134px;
  border-right: 1px solid #ddd;
  background-color: #fff;
  font-size: 12px;
  font-weight: normal;
  height: 37px;
  display: flex;
  align-items: center;
  margin-left: 7px;
  margin-bottom: 2px;
}

.select-category_current {
  width: 120px;
}
.select-category-button {
  background: url("//img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png") 6px -165px no-repeat;
  display: block;
  height: 30px;
  width: 30px;
}

/* 입력하는 부분(찾고 싶은~) */
.headerSearchForm>input {   /**/
  width: 310px;
  padding-right: 23px;
  height: 37px;
  background: #fff;
  padding: 0;
  border: 0;
  text-indent: 10px;
  font-size: 14px;
  outline: 0;
  margin-bottom: 2px;
}

.speech-content-mic {
  width: 26px;
  height: 26px;
  background: url("//img1a.coupangcdn.com/image/coupang/common/ic_mic.png") 3px 1px no-repeat;
  background-size: 20px 48px;
  text-indent: -99px;
  overflow: hidden;
}

.search {
  overflow: hidden;
  width: 50px;
  height: 39px;
  background-position: -112px -71px;
  text-indent: -9em;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
}