/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.no_display {
  display: none;
}

.r-flex {
  display: flex;
}

.l-flex {
  display: flex;
  flex-direction: column;
}

.main-header__top {
  width: 100%;
  background-color: #f0f0f0;
}
.main-header__top-inner {
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 11px;
}
.main-header__top-menu {
  padding: 0 15px;
}
.main-header__bottom-inner {
  height: 115px;
  max-width: 1020px;
  margin: 0 auto;
}
.main-header__category {
  position: relative;
  width: 110px;
  height: 120px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('/client/src/img/pc_header_img_sprite.png');
  text-align: center;
  cursor: pointer;
}
.main-header__category--text {
  position: absolute;
  top: 75px;
  left: 28px;
  color: #fff;
}
.main-header__contents {
  margin: 30px 30px 5px 30px;
}
.main-header__form-inner {
  width: 512px;
  border: 2px solid #4285f4;
}
.main-header__search {
  margin-bottom: 20px;
}
.main-header__search-selectBox {
  width: 134px;
  height: 38px;
  border-right: 1px solid #ddd;
  font-size: 12px;
  cursor: pointer;
  z-index: 10;
}
.main-header__search--off {
  background: url('/client/src/img/icon_trace_off.png') calc(100% - 7px) / 10px no-repeat;
}
.main-header__search--on {
  background: url('/client/src/img/icon_trace_on.png') calc(100% - 7px) / 10px no-repeat;
}
.main-header__search--allBtn {
  border: none;
  outline: none;
  padding: 12px 0 0 15px;
  background: transparent;
  color: #191a1c;
  cursor: pointer;
}
.main-header__search-list {
  max-height: 1px;
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 5px #666;
  overflow: hidden;
  transition: max-height 0.1s cubic-bezier(0, 1, 0, 1);
}
.main-header__search-searchItem {
  padding: 15px;
}
.main-header__search-searchItem:hover {
  color: #4285f4;
  text-decoration: underline;
}
.main-header__search-keyword {
  width: 100%;
  position: absolute;
  top: 42px;
  padding: 20px 27px 20px 20px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-sizing: 0 4px 5px #666;
}
.main-header__search--link {
  padding: 10px 0;
  font-size: 12px;
  color: #191a1c;
  text-decoration: none;
}
.main-header__logo {
  margin-right: 20px;
}
.main-header__logo--img {
  width: 174px;
  height: 41px;
}
.main-header__link {
  text-decoration: none;
  color: #191a1c;
  margin: 0 5px;
}
.main-header__input-wrapper {
  position: relative;
  z-index: 10;
}
.main-header__input {
  width: 310px;
  height: 40px;
  padding-left: 20px;
  border: none;
  outline: none;
}
.main-header__input--btn {
  width: 50px;
  height: 40px;
  background: url('/client/src/img/icon_search.png') center/20px no-repeat;
  cursor: pointer;
}
.main-header__nav-item {
  margin-right: 10px;
  font-size: 12px;
}
.main-header__nav-item--delivery {
  width: 30px;
  height: 30px;
  margin-top: -7px;
  background-position: 0 -118px;
  background-repeat: no-repeat;
  background-image: url('/client/src/img/pc_header_img_sprite.png');
}
.main-header__nav-item--fresh {
  width: 30px;
  height: 30px;
  margin-top: -7px;
  background-position: 0 -118px;
  background-repeat: no-repeat;
  background-image: url('/client/src/img/pc_header_img_sprite.png');
}
.main-header__nav-item--business {
  width: 30px;
  height: 30px;
  margin-top: -7px;
  background-position: 0 -118px;
  background-repeat: no-repeat;
  background-image: url('/client/src/img/pc_header_img_sprite.png');
}
.main-header__nav-item--direct {
  width: 30px;
  height: 30px;
  margin-top: -7px;
  background-position: 0 -118px;
  background-repeat: no-repeat;
  background-image: url('/client/src/img/pc_header_img_sprite.png');
}
.main-header__nav-item--new {
  width: 12px;
  height: 12px;
  margin-left: 2px;
}
.main-header__myinfo {
  margin: 30px 0;
}
.main-header__myinfo-inner {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
}
.main-header__myinfo--mypage {
  width: 29px;
  height: 30px;
  margin-left: 5px;
  background-position: -112px -42px;
  background-repeat: no-repeat;
  background-image: url('/client/src/img/pc_header_img_sprite.png');
}
.main-header__myinfo--cart {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  background-position: -112px 0;
  background-repeat: no-repeat;
  background-image: url('/client/src/img/pc_header_img_sprite.png');
}
.main-header__myinfo--text {
  margin-top: 10px;
  color: #191a1c;
  font-size: 12px;
}
.main-header__myinfo--count {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 12px;
  color: #fff;
}

.search-recent {
  width: 100%;
  position: absolute;
  top: 42px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-sizing: 0 4px 5px #666;
}
.search-recent__header {
  color: #191a1c;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 700;
}
.search-recent__contents {
  padding: 10px;
}
.search-recent__link {
  text-decoration: none;
  color: #666;
  padding: 5px 0;
}
.search-recent__link:hover {
  color: #4285f4;
  text-decoration: underline;
}
.search-recent__footer {
  height: 30px;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #191a1c;
  background-color: #f0f0f0;
}
.search-recent--remove {
  cursor: pointer;
}
.search-recent--remove:hover {
  text-decoration: underline;
}
.search-recent--off {
  cursor: pointer;
}
.search-recent--off:hover {
  text-decoration: underline;
}

.carousel {
  width: 100%;
  height: 450px;
}
.carousel-box {
  text-align: center;
}

.main-contents {
  padding: 0 0 40px;
}

.discovery {
  max-width: 1020px;
  margin: 0 auto;
}
.discovery-header {
  display: flex;
  padding: 30px 0;
}
.discovery-header--vertical {
  display: inline-block;
  margin: 0 10px;
}
.discovery-list {
  height: 600px;
  border: 1px solid #191a1c;
}
.main-footer {
  max-width: 1020px;
  margin: 0 auto;
  border-top: 2px solid #666;
}

/*# sourceMappingURL=index.css.map */
