// color
$light-gray-color: #f0f0f0;
$gray-color: #c8c8c8;
$point-color: #4285f4;
$background-color: #fff;
$main-text-color: #323232;
$non-foucs-text-color: #626262;

//font-size
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;

$icon-size-small: 1.75rem;
$icon-size-medium: 2.25rem;
$icon-size-large: 2.75rem;

// width 
$container-margin: 30px;
$container-width: 1080px;