@import '../colors';

.carousel-wrap {
  background-color: #fafafa;
}

.carousel {
  position: relative;
  width: 1920px;
  margin: 0 auto;

  &-imgs {
    background-size: cover;
  }

  &-lnb {
    position: absolute;
    top: 50px;
    right: 450px;
    background-color: $white;

    &__img {
      display: block;
    }
  }
}

.carousel-inner {
  overflow: hidden;

  &__list {
    display: flex;
  }

  &__img {
    display: block;
  }
}

.caroseul-lnb__item--active {
  border: 3px solid $blue;
}
