@import '../colors';

.header-wrap {
  font-size: 13px;
}

.header {
  display: flex;

  &-gnb {
    position: relative;
    width: 110px;
    height: 115px;
    color: $white;
    background-color: $white;

    &__link {
      display: block;
      cursor: default;
    }

    &__text {
      top: 65%;
      color: $white;
      cursor: pointer;
    }
  }

  &-right {
    width: 100%;
    margin-top: 22px;
    margin-left: 40px;
  }

  &-top {
    display: flex;
    justify-content: space-around;
  }

  &-logo {
    margin-top: 3.5px;
    cursor: pointer;
  }

  &-bottom {
    margin-top: 20px;
  }
}

.header-top-gnb {
  display: flex;
  margin-left: 30px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 15px;
    text-align: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-top: 13px;
  }
}

.header-bottom-gnb {
  margin-top: 15px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }
}

.search-form {
  display: flex;
  height: 40px;
  margin-left: 15px;
  border: 3px solid $blue;

  .search-category {
    width: 110px;
    margin-left: 10px;
    border-right: 1px solid $search-category-border;

    &__link {
      display: block;
    }
  }

  .search-text {
    width: 310px;
    padding-left: 10px;
    color: $search-text;
    border: 0;
  }

  .search-mic,
  .search-btn {
    margin-right: 5px;
  }
}
