@import './variables';

* {
  font-family: 'sans-serif';
  font-size: 12px;
  color: $text;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
