// node-sass [옵션] <입력파일경로> [출력파일경로]    !컴파일방법

$contentsWidth: 1000px;
$signatureColor: #4285f4;
$searchZoneHeight: 70px;
$defaultPadding: 10px;

rowDisplayAlignCenter {
  display: flex;
  align-items: center;
}

rowDisplayJustifyCenter {
  display: flex;
  justify-content: center;
}

columnDisplay {
  display: flex;
  flex-direction: column;
}

centerAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin getWH($width, $height) {
  width: $width;
  height: $height;
}

@mixin backgroundSet($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
  background-origin: content-box;
}

////////////////////////////////////////////////////////
.header {
  @extend columnDisplay;
  align-items: center;
}

//클래스를 통해 스타일을 주는것과 태그에 스타일을 주는것중 무엇이 좋을지? 고민하다 이부분은 태그명으로 짜두었습니다.
.header__top {
  //flex 가로 정렬
  @extend rowDisplayJustifyCenter;
  width: 100%;
  background-color: #f0f0f0;

  ul {
    display: flex;
    justify-content: space-between;
    width: $contentsWidth;
  }

  li {
    display: flex;
    div {
      padding: $defaultPadding;
    }
  }
}

.header__main {
  @extend rowDisplayJustifyCenter;
  width: $contentsWidth;

  .header__main--category {
    @extend centerAlignment;
    @include getWH(110px, 115px);
    background-color: $signatureColor;
  }

  .header__main--card {
    @extend columnDisplay;
  }
}

.header__main--contents {
  .header__main--shoppingNav {
    display: flex;

    li {
      padding-left: 25px;
    }
  }
  .header__main--searchZone {
    @extend rowDisplayAlignCenter;

    .header__main--logo {
      @include getWH(225px, $searchZoneHeight);
      @include backgroundSet(
        "https://image7.coupangcdn.com/image/coupang/common/logo_coupang_w350.png",
        100%
      );

      padding: $defaultPadding;
    }

    .header__main--searchInput {
      @include getWH(520px, 40px);
      display: inline-block;
      border: 1.5px solid $signatureColor;
      position: relative;
    }

    .header__main--myShopping {
      @include getWH(50px, $searchZoneHeight);
      background-color: #f0f0f0;
    }
  }
}

.search--toggle--ul {
  width: 520px;

  position: absolute;
  background-color: white;
  z-index: 1;
  .search--toggle--li {
    @extend centerAlignment;
    height: 15px;
    padding: 5px;
    border-bottom: 0.5px solid #f0f0f0;
  }
}

.banner {
  @include getWH(100%, 450px);
  @include backgroundSet(
    "https://static.coupangcdn.com/la/cmg_paperboy/image/1647331453545/%5B%EC%88%98%EC%A0%95%5D220316_%EB%B7%B0%ED%8B%B0_%EB%8D%94%EB%A7%88%EB%A7%88%EC%8A%A4%ED%81%AC%ED%8C%A9_SMD-16103_PC.jpg",
    cover
  );
  position: relative;
}

.banner--nav {
  position: absolute;
  left: 75%;
  bottom: 45px;
  .banner__nav--ul {
    display: flex;
    flex-direction: column;
    li {
      @extend rowDisplayAlignCenter;
      @include getWH(180px, 60px);
      border: 0.5px solid lightgrey;
      background-color: white;
      border-bottom: none;
      font-size: 10px;
      padding-left: 10px;
    }
    :last-child {
      border: 0.5px solid lightgrey;
    }

    :hover {
      border: 0.5px solid $signatureColor;
      color: $signatureColor;
    }
  }
}
