rowDisplayAlignCenter, .header__main--contents .header__main--searchZone, .banner--nav .banner__nav--ul li {
  display: flex;
  align-items: center; }

rowDisplayJustifyCenter, .header__top, .header__main {
  display: flex;
  justify-content: center; }

columnDisplay, .header, .header__main .header__main--card {
  display: flex;
  flex-direction: column; }

centerAlignment, .header__main .header__main--category, .search--toggle--ul .search--toggle--li {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  align-items: center; }

.header__top {
  width: 100%;
  background-color: #f0f0f0; }
  .header__top ul {
    display: flex;
    justify-content: space-between;
    width: 1000px; }
  .header__top li {
    display: flex; }
    .header__top li div {
      padding: 10px; }

.header__main {
  width: 1000px; }
  .header__main .header__main--category {
    width: 110px;
    height: 115px;
    background-color: #4285f4; }

.header__main--contents .header__main--shoppingNav {
  display: flex; }
  .header__main--contents .header__main--shoppingNav li {
    padding-left: 25px; }

.header__main--contents .header__main--searchZone .header__main--logo {
  width: 225px;
  height: 70px;
  background-image: url("https://image7.coupangcdn.com/image/coupang/common/logo_coupang_w350.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-origin: content-box;
  padding: 10px; }

.header__main--contents .header__main--searchZone .header__main--searchInput {
  width: 520px;
  height: 40px;
  display: inline-block;
  border: 1.5px solid #4285f4;
  position: relative; }

.header__main--contents .header__main--searchZone .header__main--myShopping {
  width: 50px;
  height: 70px;
  background-color: #f0f0f0; }

.search--toggle--ul {
  width: 520px;
  position: absolute;
  background-color: white;
  z-index: 1; }
  .search--toggle--ul .search--toggle--li {
    height: 15px;
    padding: 5px;
    border-bottom: 0.5px solid #f0f0f0; }

.banner {
  width: 100%;
  height: 450px;
  background-image: url("https://static.coupangcdn.com/la/cmg_paperboy/image/1647331453545/%5B%EC%88%98%EC%A0%95%5D220316_%EB%B7%B0%ED%8B%B0_%EB%8D%94%EB%A7%88%EB%A7%88%EC%8A%A4%ED%81%AC%ED%8C%A9_SMD-16103_PC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  position: relative; }

.banner--nav {
  position: absolute;
  left: 75%;
  bottom: 45px; }
  .banner--nav .banner__nav--ul {
    display: flex;
    flex-direction: column; }
    .banner--nav .banner__nav--ul li {
      width: 180px;
      height: 60px;
      border: 0.5px solid lightgrey;
      background-color: white;
      border-bottom: none;
      font-size: 10px;
      padding-left: 10px; }
    .banner--nav .banner__nav--ul :last-child {
      border: 0.5px solid lightgrey; }
    .banner--nav .banner__nav--ul :hover {
      border: 0.5px solid #4285f4;
      color: #4285f4; }
