@import './reset';
@import './variables';
@import './mixins';
@import './extends';

body {
  overflow: hidden;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

/* Top Banner */

.top-banner {
  position: relative;
  @include flex(center, 0);
  border-bottom: 1px solid $border-gray;

  .close-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 0;
    transform: translateY(-50%);
    background-image: url('https://img1a.coupangcdn.com/image/coupang/common/bg_aside_sprite_161005.png');
    background-position: -110px -31px;
  }
}

.top-bar {
  background-color: $bg-gray;

  .wrapper {
    display: flex;
    padding: 10px 20px;
  }

  .left {
    @include flex(flex-start, 12px);
    margin-right: auto;
  }

  .right {
    @include flex(flex-start, 12px);
  }
}

/* Main Header */

.main-header {

  .wrapper {
    display: flex;
  }

  .category-btn {
    width: 110px;
    height: 115px;
    background-image: url('https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png');

    span {
      position: relative;
      top: 25px;
      font-size: 1.1667rem;
      color: $text-white;
    }
  }

  .main-area {
    @include flex(space-between, 0);
    position: relative;
    flex-grow: 1;
    padding: 0 30px 10px;

    .main-logo img {
      height: 41px;
    }
  }

  .search-form {
    display: flex;
    width: 72%;
    border: 2px solid $bg-highlight;

    .select-box {
      position: relative;
      width: 25%;
      border-right: 1px solid $border-lightgray;

      .select-btn {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 10px;

        &::after {
          content: '';
          position: absolute;
          top: 10%;
          right: 0;
          display: inline-block;
          width: 30px;
          height: 30px;
          background-image: url('https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png');
          background-position: 6px -165px;
          background-repeat: no-repeat;
        }
      }

      &.opened .select-btn::after {
        background-position: 6px -142px;
      }
    }

    .input-box {
      position: relative;
      display: flex;
      flex-grow: 1;
      font-size: 1.1667rem;

      .input {
        flex-grow: 1;
        padding: 10px;
      }
    }

    .search-btn {
      position: relative;
      top: 1px;
      width: 50px;
      height: 39px;
      font-size: 0;
      background-image: url('https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png');
      background-position: -112px -71px;
    }
  }

  .gnb-menu {
    @include flex(space-between, 0);
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 0 30px;

    a {
      display: block;

      &:hover {
        color: $text-highlight;
        text-decoration: underline;
      }
    }

    .new-badge {
      position: relative;
      top: -1px;
      display: inline-block;
      width: 12px;
      height: 12px;
      font-size: 0;
      background-image: url('https://static.coupangcdn.com/image/coupang/common/ico_new.png');
      background-size: contain;
      margin-left: 4px;
    }

    .rocket-delivery {
      @extend %gnbMenuWithIcon;

      a::before {
        position: static;
        width: 23px;
        height: 23.5px;
        background-image: url('https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png');
        background-position: 0 -119px;
      }
    }

    .rocket-fresh {
      @extend %gnbMenuWithIcon;

      a::before {
        width: 21px;
        height: 23.5px;
        background-image: url('https://static.coupangcdn.com/image/coupang/common/pc_header_rocket_fresh_1x.png');
      }
    }

    .coupang-biz {
      @extend %gnbMenuWithIcon;

      a::before {
        width: 20px;
        height: 19.5px;
        background-image: url('https://static.coupangcdn.com/image/coupang/common/logoBizonlyBrown.png');
      }
    }

    .coupang-global {
      @extend %gnbMenuWithIcon;
      padding-right: 0;

      a::before {
        width: 20px;
        height: 23.5px;
        background-image: url('https://static.coupangcdn.com/image/coupang/home/icons/Overseas.png');
      }
    }
  }

  .my-coupang-area {
    @include flex(space-around, 0);
    width: 12%;

    .my-coupang {
      @extend %myCoupang;
      width: 29px;
      height: 31px;
      background-image: url('https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png');
      background-position: -112px -42px;

      .text {
        top: 40px;
        left: -20%;
      }
    }

    .my-cart {
      @extend %myCoupang;
      width: 40px;
      height: 41px;
      background-image: url('https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png');
      background-position: -112px 0;

      .text {
        top: 45px;
        left: -10%;
      }

      .cart-count {
        position: absolute;
        top: 3px;
        right: 9px;
        color: $text-white;
        font-weight: 700;
      }
    }
  }
}

/* Main Banner */

.main-banner {
  position: relative;
  width: 1020px;
  height: 450px;
  margin: 0 auto;

  .banner-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
      z-index: 1;
    }
  }

  .banner-category {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);

    .category-item {
      width: 180px;
      height: 60px;
      font-size: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $border-lightgray;
      }

      .category-link {
        position: absolute;
        display: block;
        width: 180px;
        height: 60px;
        z-index: 3;

        &:hover {
          border: 2px solid $bg-highlight;
        }
      }

      img {
        position: absolute;
        display: block;
        width: 180px;
        height: 60px;
        z-index: 2;
      }
    }
  }
}

/* Bottom Window */

.bottom-window {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  border: 1px solid $border-lightgray;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);

  .window-contents {
    padding: 10px;
  }

  .window-list {
    padding-top: 5px;

    .list-item {
      margin-bottom: 15px;

      &:is(:last-child) {
        margin-bottom: 5px;
      }

      a:hover {
        color:$text-highlight;
        text-decoration: underline;
      }
    }
  }
}

/* InputBox Bottom Window */

.input-box .bottom-window {

  .window-title {
    border-bottom: 1px solid $border-lightgray;
    padding: 2px 0 10px;
    margin-bottom: 10px;
  }

  .window-list {
    min-height: 250px;
  }

  .list-item:last-child {
    margin-bottom: 15px;
  }

  .recent-search-btn-group {
    position: absolute;
    bottom: -25px;
    left: -1px;
    @include flex(space-between, 0);
    width: calc(100% + 2px);
    border: 1px solid $border-lightgray;
    background-color: #f5f5f5;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
}
