@import url(reset.css);
ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

input {
  border: none;
  font-size: 13px;
}

input:focus {
  outline: none;
}

.wrap {
  width: 100%;
  min-width: 1020px;
}

/* header */
.header-container {
  width: 100%;
  height: 147.5px;
  position: relative;
  min-width: 1020px;
}

.top-nav {
  width: 100%;
  height: 32px;
  background-color: #f0f0f0;
  position: absoulte;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  font-size: 11px;
}

.top-nav section {
  width: 1020px;
  margin: 0 auto;
  line-height: 32px;
  text-align: center;
}

.top-nav section .subscribe {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav section .account {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav section li {
  padding-right: 12px;
  cursor: pointer;
  z-index: 15;
}

.header-container header {
  width: 1020px;
  height: 115px;
  position: relative;
  margin: 0 auto;
}

.header-container header .category-btn {
  width: 110px;
  height: 115px;
  background-image: url(../img/category-list.JPG);
  position: absolute;
  left: 0;
  margin-right: 30px;
}

.header-main-wrap {
  position: absolute;
  width: 880px;
  height: 91px;
  margin: 25px 0 0 140px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-main-wrap .header-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 40px;
}

.header-main-wrap .header-main-nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-main .logo {
  width: 175px;
  height: 40px;
  margin-right: 20px;
}

.header-main .header-main-btn {
  width: 50px;
  height: 50px;
  background-color: beige;
  list-style: none;
  margin-right: 20px;
  font-size: 10px;
}

.search-form {
  width: 520px;
  height: 41px;
  border: 2px solid #4285f4;
  margin-right: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form .select-category-wrap {
  width: 135px;
  height: 37px;
  border-right: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
}

.search-form .select-category-wrap button {
  text-align: left;
}

.search-form .select-category-wrap .select-category {
  width: 90px;
  height: 37px;
  line-height: 37px;
}

.search-form .select-category-wrap .select-toggle {
  width: 30px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form .select-category-wrap .select-toggle img {
  width: 50%;
  height: 50%;
}

.search-form .select-category-wrap .select-category-list {
  width: 125px;
  max-height: 762px;
  display: block;
  z-index: 1;
  padding: 10px 0 10px 10px;
  background-color: aliceblue;
  display: none;
}

.search-form .select-category-wrap .select-category-list li {
  background-color: blanchedalmond;
  height: 30px;
  cursor: pointer;
}

.search-form .search-input-wrap {
  width: 380px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form .search-input-wrap .search-input {
  width: 320px;
  height: 100%;
  margin-left: 10px;
}

.search-form .search-input-wrap .search-btn {
  width: 50px;
  height: 37px;
  background-color: bisque;
  cursor: pointer;
}

.search-form .search-input-wrap .search-list {
  width: 382px;
  height: 330px;
  background-color: antiquewhite;
  z-index: 3;
  padding: 20px 12px 6px 12px;
}

.search-form .search-input-wrap .search-list li {
  width: 350px;
  height: 30px;
  padding-bottom: 16px;
  background-color: white;
  border: 1px solid gray;
}

/* body */
.main-banner {
  width: 100%;
  height: 450px;
}
