.search-recent {
  width: 100%;
  position: absolute;
  top: 42px;
  background-color: $color-white;
  border: 1px solid $color-grey-light;
  box-sizing: 0 4px 5px $color-grey-slight-dark;

  &__header {
    color: $color-grey-dark;
    padding: 10px;
    border-bottom: 1px solid $color-grey-light;
    font-size: $font-12;
    font-weight: $font-700w;
  }

  &__contents {
    padding: 10px;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-slight-dark;
    padding: 5px 0;

    &:hover {
      color: $color-blue-light;
      text-decoration: underline;
    }
  }

  &__footer {
    height: 30px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-size: $font-12;
    color: $color-grey-dark;
    background-color: $color-grey-light;
  }

  &--remove {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &--off {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
