@import url(reset.css);
$base-width: 1020px;
$top-nav-gray: #f0f0f0;
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

input {
  border: none;
  font-size: 13px;
}

input:focus {
  outline: none;
}

.wrap {
  width: 100%;
  min-width: $base-width;
}

/* header */
.header-container {
  width: 100%;
  height: 147.5px;
  position: relative;
  min-width: $base-width;
}

.top-nav {
  width: 100%;
  height: 32px;
  background-color: $top-nav-gray;
  position: absoulte;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  font-size: 11px;

  section {
    width: $base-width;
    margin: 0 auto;
    line-height: 32px;
    text-align: center;

    .subscribe {
      float: left;
      display: flex;
    }

    .account {
      float: right;
      display: flex;
    }

    li {
      padding-right: 12px;
      cursor: pointer;
      z-index: 15;
    }
  }
}

.header-container header {
  width: $base-width;
  height: 115px;
  position: relative;
  margin: 0 auto;

  .category-btn {
    width: 110px;
    height: 115px;
    background-image: url(../img/category-list.JPG);
    position: absolute;
    left: 0;
    margin-right: 30px;
  }
}

.header-main-wrap {
  position: absolute;
  width: 880px;
  height: 91px;
  margin: 25px 0 0 140px;
  background-color: white;

  display: flex;
  flex-direction: column;

  .header-main-nav {
    @include flexCenter();
    width: 800px;
    height: 40px;

    li {
      flex: 1;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.header-main {
  display: flex;

  .logo {
    width: 175px;
    height: 40px;
    margin-right: 20px;
  }

  .header-main-btn {
    width: 50px;
    height: 50px;
    background-color: beige;
    list-style: none;
    margin-right: 20px;
    font-size: 10px;
  }
}

.search-form {
  width: 520px;
  height: 41px;
  border: 2px solid #4285f4;
  margin-right: 22px;
  display: flex;

  .select-category-wrap {
    width: 135px;
    height: 37px;
    border-right: 1px solid #ddd;
    @include flexCenter();
    flex-wrap: wrap;
    font-size: 13px;

    button {
      text-align: left;
    }

    .select-category {
      width: 90px;
      height: 37px;
      line-height: 37px;
    }

    .select-toggle {
      width: 30px;
      height: 33px;
      @include flexCenter();

      img {
        width: 50%;
        height: 50%;
      }
    }
    .select-category-list {
      width: 125px;
      max-height: 762px;
      display: block;
      z-index: 1;
      padding: 10px 0 10px 10px;
      background-color: aliceblue;
      display: none;

      li {
        background-color: blanchedalmond;
        height: 30px;
        cursor: pointer;
      }
    }
  }

  .search-input-wrap {
    width: 380px;
    height: 37px;
    display: flex;
    flex-wrap: wrap;

    .search-input {
      width: 320px;
      height: 100%;
      margin-left: 10px;
    }

    .search-btn {
      width: 50px;
      height: 37px;
      background-color: bisque;
      cursor: pointer;
    }

    .search-list {
      width: 382px;
      height: 330px;
      background-color: antiquewhite;
      z-index: 3;
      padding: 20px 12px 6px 12px;

      li {
        width: 350px;
        height: 30px;
        padding-bottom: 16px;
        background-color: white;
        border: 1px solid gray;
      }
    }
  }
}

/* body */
.main-banner {
  width: 100%;
  height: 450px;
}
