@import 'abstracts/variables';

@import 'base/reset';
@import 'base/base';
@import 'base/animation';
@import 'base/utilities';

@import 'layout/header';
@import 'layout/keyword';
@import 'layout/carousel';
@import 'layout/contents';
@import 'layout/discovery';
@import 'layout/footer';
